<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- bootstrap -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"
        />
        <link
            href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet"
        />

        <!-- Link Swiper's CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

        <!-- css -->
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/header.css" />
        <link rel="stylesheet" href="/css/register.css" />
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="/css/order.css" />
        <link rel="stylesheet" href="/css/login.css" />
        <link rel="stylesheet" href="/css/find_email.css" />
        <link rel="stylesheet" href="/css/find_password.css" />
        <link rel="stylesheet" href="/css/update_password.css" />
        <link rel="stylesheet" href="/css/mypage.css" />
        <link rel="stylesheet" href="/css/item_detail.css" />
        <link rel="stylesheet" href="/css/basket.css" />
        <link rel="stylesheet" href="/css/modal.css" />

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
        <script src="/modal.js"></script>

        <title>푸드챌린지</title>
    </head>
    <body>
        <!-- header -->
        <%- include('header.ejs') %>

        <!-- Modalalert-->
        <div class="modal text-left" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="alertModalLabel">알림</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="alertText"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-sparta btn-confirm" data-dismiss="modal">
                            확인
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- body -->
        <% if (components === 'register') { %> <%- include('register.ejs') %> <% } %> 
        <% if (components === 'main') { %> <%- include('main.ejs') %> <% } %> 
        <% if (components==='itemDetail') { %> <%- include('itemDetail.ejs') %> <% } %> 
        <% if (components ==='order') { %> <%- include('order.ejs') %> <% } %> 
        <% if (components === 'login') {%> <%-include('login.ejs') %> <% } %> 
        <% if (components === 'findEmail') { %><%-include('find_email.ejs') %> <% } %> 
        <% if (components === 'myBasket') { %> <%-include('basket.ejs') %> <% } %> 
        <% if (components === 'findPassword') { %><%-include('find_password.ejs') %> <% } %> 
        <% if (components === 'updatePassword') { %><%-include('update_password.ejs') %> <% } %>
        <% if (components === 'mypage') { %> <%- include('mypage.ejs') %> <% } %>
    
    </body>
    </html>
